<!DOCTYPE html>
<html>
<head>
	<title>Corona in India</title>


{% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
</head>


<h1>abcd</h1>
<h1>abcdddd</h1>

<h1>Confirm  {{ object.confirm }}  </h1><br>
<h1>Deaths  {{ object.deaths }}  </h1><br>
<h1>Recoverd {{ object.Recovered }}  </h1><br>
<h1>States  {{ object.States }}  </h1><br>